@font-face {
    font-family: "Mark My Words";
    src: url(mark_my_words.ttf);
}
html, body{
  font-family : "Mark My Words";
  /* width: 100%; */
  height: 100%;
  /* position: fixed; */
  overflow: hidden;
  margin:  0 auto;
  left: 0;
  right:  0;
  --speed: 10000ms;
  color: white;
}
.label {
	font-size: 300px;
}

#mainblock {
  text-align:center;
}

body {
  background-image: url("backdrop.png");
  background-size: 100% 100%;
  transition: background 2s ease-in-out;
}
#mainblock>div{
	display:inline-block;
	border-radius:10px;
	min-width:100px;
	padding:0px;
	margin:2px;
}
#mainblock>div>div{
	font-size:20px;
	padding:0px;
	padding-top:5px;
	padding-bottom:0px;
	color:white;
	border-radius:10px;
}
#mainblock>div>span{
	font-size:50px;
	padding:0px;
	color:white;
}

h1 {
	text-align: center;
	font-size: 100px;
} 
h2 {
  text-align: center;
}

.main-container {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 44px;
  left: 50%;
  margin: 0 0 0 -3%;
  transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-animation-name: spin;
  -webkit-animation-duration: var(--speed);
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: var(--speed);
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: var(--speed);
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: var(--speed);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.pin-base {
  width: 0;
	height: 0;
	border-top: 0px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #7a7678;
  position: absolute;
  left: 50px;
  top: 20px;
}
#pin-2 .pin-big-triangle{
   border-bottom: 30px solid #FF6619;
}
#pin-2 .pin-base{
   border-left: 30px solid #ff935d;
}
#pin-3 .pin-big-triangle{
   border-bottom: 30px solid #00B2A6;
}
#pin-3 .pin-base{
   border-left: 30px solid #6dd2cb;
}

#pin-1 .pin-big-triangle{
  border-bottom: 30px solid #14CC57;
}
#pin-1 .pin-base{
   border-left: 30px solid #70cc92;
}
#pin-4 .pin-big-triangle{
  border-bottom: 30px solid #808485;
}
#pin-4 .pin-base{
   border-left: 30px solid #acb1b2;
}

#pinwheel-prompt {
  font-size: 20px;
  position: fixed;
  bottom: 190px;
  left:  43%;
  transform: translate(-50%, -50%);

}

.pin-big-triangle{
  width: 0;
	height: 0;
	border-left: 30px solid transparent;
  border-right: 39px solid transparent;
  border-bottom: 30px solid #7a7678;
  position: absolute;
  left: 50px;
  top: 20px;
}

#pin-1, #pin-2, #pin-3, #pin-4{
  position: relative;
  left: 0;
  top: 0;
}

#pin-2{
  left: 50px;
  top: 50px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
#pin-3{
  top: 98px;
  left: 2px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#pin-4{
  left: -50px;
  top: 49px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.pinwheel-stick{
  position: absolute;
  margin: 0 auto;
  left: 50%;
  bottom: 0px;
  margin-top: -80px;
  width: 2px;
  height: 120px;
  background-color: #FFA40D;
}
.pinwheel-center-circle{
  background-color: #FFA40D;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 127px;
  -moz-border-radius: 127px;
  border-radius: 127px;
  position: absolute;
  top: 47px;
  left: 47px;
}
